body{
    margin: 0;
    font-family: Helvetica Neue,PingFang SC,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif
}
a{
    text-decoration: none;
    color: #383838;
}
a:hover{
    color: #383838;
}
h1,h2,h3,h4,h5{
    margin: 0
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.LoginOrProject{
    height: 100%;
}
.LoginOrProject .projectPageWrap{
    height: 100%;
}
.projectPage{
    height: 100%;
    color: #383838;
    font-size: 14px;
    line-height: 20px;
    font-family: Helvetica Neue,PingFang SC,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
    user-select: none;
}
.projectPageHead{
    position: relative;
    background-color: #fff;
    padding: 0;
    height: 48px;
    position: relative;
    z-index: 100;
    background-color: hsla(0,0%,100%,.95);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15)
}
.projectPageHead .Nav-bar-left{
    position: absolute;
    top: 0;
    left: 15px;
    height: 48px;
    width: 380px;
}
.projectPageHead .Nav-bar-left .search-bar{
    margin-top: 8px;
    position: relative;
    font-size: 14px;
    color: #a6a6a6;
}
.projectPageHead .Nav-bar-left .ProjectTypeSelect{
    position: absolute;
    top: 36px;
    left: 324px;
    color: #383838;
}
.projectPageHead .Nav-bar-left .extendBtn{
    position: absolute;
    top: 12px;
    left: 310px;
    cursor: pointer;
}
.projectPageHead .search-bar i{
    position: absolute;
    top: 8px;
    left: 15px;
}
.projectPageHead .searchProject{
    padding-left: 8px;
    border: none;
    outline: none;
    background: transparent;
    flex-grow: 1;
    font-size: 14px;
    color: #a6a6a6;
    height: 32px;
    width: 280px;
    border-radius: 19px;
    background-color: #f5f5f5;
    text-indent: 36px;
}
.projectPageHead .search-bar{
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 37px;
    transition: all 218ms;
    height: 32px;
    margin-right: 12px;
}
.ant-spin-container{
    padding-left: 5px;
    box-sizing: border-box;
}
.projectPageHead .ProjectTypeSelect{
    border-radius: 4px;
    background: #fff;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 4px 0;
    height: 120px;
    width: 190px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}
.projectPageHead .ProjectTypeSelect .ProjectTypeItem{
    height: 36px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    color: #383838;
    box-sizing: border-box;
}
.ant-list-item-meta{
    flex:none;
}
.ant-list-split .ant-list-item {
    border-bottom: none;
    cursor: pointer;
} 
.ant-list-split .ant-list-item:hover{
    background-color: #f5f5f5;

}
.ant-list-item:nth-child(1){
    border-bottom: 1px solid #e8e8e8
}
.ant-list-item {
    padding: 0;
}
.projectPageContent{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f5f5f5;
}
.projectPageContent::-webkit-scrollbar {
    width: 8px;     
    height: 8px;
}
.projectPageContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #808080;
}
.projectPageContent::-webkit-scrollbar-track{
    border-radius: 10px;
    background: #EDEDED;
}

.projectPageHead .commonNav{
    height: 100%;
    width: 100%;
}
.siteLogo{
    width: 95px;
    height: 14px;
    text-indent: -9999px;
    background: url(./teambition-logo@2x.773fd502.png) no-repeat 0 0;
    background-size: 92px 14px;
    position: absolute;
    top: 15px;
    left: 570px;
}
.projectPage .projectPageHead .Nav-bar-right{
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 380px;
}
.Nav-bar-right span{
    float: right;
    color: #808080;
    cursor: pointer;
}
.Nav-bar-right .mine,
.Nav-bar-right .schedule,
.Nav-bar-right .loginOut{
    width: 60px;
    height: 48px;
    line-height: 48px;
}
.Nav-bar-right .loginOut:hover{
    transform: scale(1.1)
}
.Nav-bar-right .mine{   
    width: 160px;
    color: #535353;
    font-weight: bold;
}

.Nav-bar-right .msgIcon{
    width: 40px;
    height: 48px;
    line-height: 48px;
    margin-right: 10px;
}
.Nav-bar-right .userAvatar{
    margin-top: 4px;
    margin-right: 25px;
}

/* 创建文件夹遮罩 */
.ant-modal-wrap  .creatFileModal .ant-modal-content{
    height: 408px;
    width: 360px;
    padding: 0 15px;
    box-sizing: border-box;
}
.ant-modal.creatFileModal .ant-modal-content .ant-modal-body{
    padding: 0;
    height: 270px;
}
.creatFileModal .ant-modal-content .illustration{
    text-indent: -9999px;
    width: 113px;
    height: 90px;
    margin: 30px auto;
    background-size: 113px 90px;
    background-image: url(./illustration@3x.2d8d2cc3.png);
}
.creatFileModal .ant-modal-body .intro{
    color: gray;
    margin-bottom: 25px;
    text-align: center;
}
.creatFileModal .ant-modal-content .insertFileName,
.creatFileModal .ant-modal-content .insertAbstract{
    margin-bottom: 15px;
    display: block;
    height: 40px;
    line-height: 26px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 8px 12px;
    color: #383838;
    box-shadow: none;
    width: 100%;
}
.ant-modal.creatFileModal .ant-modal-footer{
    border-top: none;
    padding: 0;
    margin: 0;
}
.ant-modal.creatFileModal .ant-modal-footer div button{
    margin: 0;
}
.ant-modal.creatFileModal .ant-modal-footer div button:nth-child(1){
    display: none;
}
.ant-modal.creatFileModal .ant-modal-footer div button:nth-child(2){
    display: block;
    background-color: #3da8f5;
    border-color: #3da8f5;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    white-space: nowrap;
    user-select: none;
}
/* 项目文件内容的导航条 */
#fileInsideWrap{
    height: 100%;
}
#fileInsideWrap .ant-tabs-line{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}   
#fileInsideWrap .ant-tabs-line .ant-tabs-bar{
    margin-bottom: 0;
}
#fileInsideWrap .ant-tabs-line .ant-tabs-bar  .ant-tabs-nav-container{
    height: 100%;
}
#subNavWrap{
    height: 100%;
    position: relative;
}
#subNavWrap .ant-tabs-tabpane{
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
}
#subNavWrap .ant-tabs-tabpane::-webkit-scrollbar {
    width: 8px;     
    height: 10px;
}
#subNavWrap .ant-tabs-tabpane::-webkit-scrollbar-thumb {
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
#subNavWrap .ant-tabs-tabpane::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
#subNavLeftTool{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}
#subNavLeftTool span{
    display: inline-block;
    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #383838;
    cursor: pointer;
    padding: 12px 16px;
    cursor: pointer;
}

#subNavLeftTool .down{
    margin-left: 5px;
}
#fileInsideWrap .ant-tabs-nav-container .ant-tabs-tab{
    color: #383838;
    font-size: 15px;
}
#root .App{
    overflow-x: hidden;
}
.ant-spin-spinning{
    height: 96%;
    background-color: #fff;
}
.ant-spin-spinning .anticon-spin:before{
    line-height: 500px;
}