body{  
    font-size: 16px;
    margin: 0;
    font-family: Helvetica Neue,PingFang SC,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
}
/* 任务 */
#TasksWrap{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1;
}
#TasksWrap .taskItem{
    position: relative;
    min-width: 280px;
    height: 98%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    background-color: #eee;
    border-radius: 5px;
}
#TasksWrap .taskItem .taskItem-head{
    position: relative;
    cursor: move;
    height: 48px;
    padding: 0 18px;
    font-size: 15px;
    font-weight: 700;
    z-index: 1;
    transition: box-shadow 100ms ease;
}
#TasksWrap .taskItem .subTasksContent{
    overflow: auto;
    overflow-x: visible;
    transform: translateZ(0);
}

#TasksWrap .taskItem .taskItem-head h4{
    float: left;
    height: 48px;
    line-height: 48px;
    font-weight: 700;
}
#TasksWrap .taskItem .taskItem-head .anticon{
    float: right;
    margin: 16px 10px 16px 0;
}
#TasksWrap .task-creator-handler-wrap{
    position: relative;
    top: 0;
    left: 0;
    background-color: #eee;
    transition: box-shadow 218ms ease;
}
#TasksWrap .task-creator-handler-wrap .task-creator-handler{
    display: flex;
    align-items: center;
    margin: 0 8px;
    padding: 14px 15px;
    border-radius: 3px;
    font-size: 15px;
}
#TasksWrap .task-creator-handler-wrap .link-add-handler{
    color: #3da8f5;
    transition: color 218ms ease;
}
/* #TasksWrap .subTasksContent{
    transition: opacity 0.08s ease-out;
    opacity: 1;
} */
#TasksWrap .subTasksContent::-webkit-scrollbar {
    width: 2%;
    color: #eee;
    cursor: pointer;
}
.dls-thin-scroll::-webkit-scrollbar-thumb,
.thin-scroll::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-left: 2px solid transparent;
}
.task-card-mode .task-card .subTask-content-set{
    padding: 12px 0;
    line-height: 20px;
    overflow: hidden;
    cursor: pointer;
}
#TasksWrap .taskItem .subTask-card{
    white-space: normal;
    position: relative;
    max-width: 272px;
    width: 100%;
    white-space: normal;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0
}

.subTask-card .subTask-priority{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    transition: all 218ms ease-in;
    cursor: pointer;
}
.bg-priority-0{
    background-color: #a6a6a6;
    width: 0px;
}
.bg-priority-1{
    background-color: #ffaf38;
    width: 2px;
}
.bg-priority-2{
    background-color: #ff4f3e;
    width: 2px;
}
.subTask-card .check-box{
    border: 2px solid #a6a6a6;
    border-radius: 3px;
}
.subTask-checked-wrap .subTask-card .check-box .anticon-check{
    font-size: 16px;
    color: #a6a6a6;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
}
.subTask-check-box {
    width: 20px;
    height: 20px;
    margin: 14px;
    position: relative;
}
.subTask-card .subTask-content-set{
    padding: 12px 0;
    line-height: 20px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: stretch;
}
.subTask-Item-Title{
    min-height: 24px;
    line-height: 24px;
    overflow: hidden;
    cursor: pointer;
    word-wrap: break-word;
    text-align: start;
    text-indent: 5px;
}
.subTask-checked-wrap .subTask-card-mode,
.subTasksWrap .subTask-card-mode{
    width: 272px;
    margin: 8px;
    margin-top: 0;
}
.subTask-card-mode:hover .subTask-priority.bg-priority-0,
.subTask-card-mode:hover .subTask-priority.bg-priority-1,
.subTask-card-mode:hover .subTask-priority.bg-priority-2{
    width: 6px;
}
.subTask-content-set .subTask-info-wrapper{
    display: flex;
    flex-direction: column;
    padding-right: 14px;
}
.subTask-content-set .subTask-info-wrapper .task-infos{
    flex: 1 1 auto;
    overflow: hidden;
    margin-top: 4px;
    line-height: 16px;
    font-size: 0;
}
.subTask-info-wrapper .task-infos{
    text-align: start;
}
.subTask-info-wrapper .task-infos .deadline{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 2px 6px 0 0;
    padding-left: 6px;
    color: #fff;
    background-color: #ff4f3e;
    display: inline-block;
    height: 20px;
    padding: 0 4px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 2px;
    vertical-align: middle;
    font-weight: 400;
    text-align: center;
}
.subTask-info-wrapper .task-infos .icon-wrapper{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a6a6a6;
    display: inline-block;
    max-width: 100%;
    height: 20px;
    margin: 2px 6px 0 0;
    padding: 0 4px;
    line-height: 20px;
    font-size: 12px;
    vertical-align: middle;
}
.subTask-info-wrapper .task-infos .tag{
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a6a6a6;
    display: inline-block;
    max-width: 100%;
    height: 20px;
    margin: 2px 6px 0 0;
    padding: 0 4px;
    line-height: 20px;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 16px;
}
.task-infos .tag.tag-color-blue:before{
    content: " ";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-sizing: border-box;
}
/* 标签普通是蓝色，紧急和非常紧急是红色 */
.task-infos .tag.tag-color-blue:before{
    background-color: #3da8f5;
}
.task-infos .tag.tag-color-red:before{
    background-color: #ff4f3e;
}
.subTask-checked-wrap .subTask-card-mode{
    opacity: 0.9;
}
.subTask-checked-wrap .subTask-Item-Title{
    color: #a6a6a6;
}
/* 新建任务编辑框 */
.subTasksContent {
    position: absolute;
    z-index: 1;
    width:100%;

}
.subTasksContent .subTask-creator-wrap{
    margin: 0 8px 8px;
    box-shadow: 0 0.5px 2px rgba(0,0,0,.1);
    border: 0 none;
    background-color: #fff;
    border-radius: 2px;
    outline: none;
    padding-bottom: 20px;
}
.subTasksContent .subTask-creator-wrap:focus{
    outline: none;
}
.subTask-creator-wrap .task-creator{
    padding: 12px;
}

.fade.in{
    opacity: 1;
}
.fade{
    transition: opacity .15s linear;
}
.task-creator textarea{
    height: 56px;
    overflow: auto;
    padding: 8px 12px;
    width: 100%;
    outline: none;
}
.form-control, textarea.form-control{
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    line-height: 20px;
}
.form-control{
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: block;
    font-size: 14px;
}
.task-creator div{
    text-align: start;
}
.task-creator .createUser{
    margin-top: 4px;
    height: 32px;
    font-size: 16px;
    font-weight: 600;
}
.task-creator .date-wrap{
    height: 25px;
    overflow: hidden;
    position: relative;
    z-index:1;
    cursor: pointer;
}
.task-creator .date-wrap .anticon-calendar{
    color: #a6a6a6;
}

.task-creator .date-wrap .date-text{
    margin-left: 10px;
    color: #a6a6a6;
}
.task-creator.show-more .more-set{
    display: flex;
}
.task-creator .scenario-creators-wrap{
    color: #a6a6a6;
}
.task-creator .scenario-creators-wrap .scenario-infos-creator-view{
    padding: 0;
    width: 100%;
}
.task-creator .scenario-creators-wrap .detail-infos-wrapper>section.no-border-wrapper:first-of-type{
    padding-top: 10px;
}
.task-creator .scenario-creators-wrap .detail-infos-wrapper>section.no-border-wrapper{
    padding: 10px 0;
}
.detail-infos-wrapper>section.no-border-wrapper{
    position: relative;
}
.task-creator .scenario-creators-wrap .detail-infos-wrapper>section.no-border-wrapper:first-of-type{
    padding-top: 10px;
}
.task-creator .scenario-creators-wrap .detail-infos-wrapper>section.no-border-wrapper{
    padding: 10px 0;
}
.detail-infos-wrapper .detail-infos-aside{
    flex-shrink: 0;
    width: 120px;
    color: #a6a6a6;
    font-size: 12px;
    position: relative;
}
.detail-infos-wrapper .detail-infos-aside .icon-circle{
   height: 14px;
   width: 14px;
   border: 1px solid #a6a6a6;
   border-radius: 8px;
   display: inline-block;
   position: absolute;
   top: 4px;
   left: 0;
}
.priority-aside .btn.showUrgencyLevel,
.btn.normal,.btn.urgency,
.btn.emtremeUrgency{
    display: inline-block;
    border-color: #a6a6a6;
    color: #a6a6a6;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: #fff;
    white-space: nowrap;
    outline: none;
    margin-left: 25px;
}
.priority-aside{
    position: relative;
    z-index: 50;
}
.priority-aside .btn:active{
    border-color: #3da8f5;
    color: #3da8f5;
}
.setTagBox{
    position: relative;
    padding: 3px 0;
    height: 40px;
    z-index: 10;
}
.setTagBox .anticon-tags-o{
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 0;
}
.setTagBox .tag-text{
    line-height: 16px;
    display: inline-block;
    white-space: pre-line;
}
.setTagBox .tag-text .anticon-cross{
    color: #3da8f5;
}
.tag-text  div.ant-tag{
    border-color: transparent;
    margin: 5px 2px;
}
.tag-text  div.ant-tag:nth-child(1){
    background-color:#fff;
    color: #a6a6a6;
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
}
.tag-text  div.ant-tag:nth-child(2){
    margin-left: 8px;
}
.tag-text .ant-tag .goToAddTagIcon{
    color: #3da8f5;
    font-size: 14px;
    line-height: 25px;
} 
.tag-text .setSubTaskTagInput{
    margin-left: 5px;
}
.confirmCreacteBtn-wrap{
    height: 38px;
    position: relative;
}
#confirmCreacteBtn{
    width: 72px;
    color: #fff;
    background-color: #3da8f5;
    border-color: #3da8f5;
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    outline: none;
    position: absolute;
    right: 20px;
    bottom: 0;
}
#confirmCreacteBtn:hover{
    opacity: .9;
}
#dropdown-container{
    max-width: 252px;
    position: absolute;
    top: 35px;
    left: 50%;
    background-color: #fff;
    z-index: 999;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
}
#dropdown-container header{
    text-align: center;
    padding: 12px 20px;
    margin: 0 20px;
    position: relative;
}
#dropdown-container header{
    position: relative;
}
#dropdown-container hr{
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    border: none;
    margin: 0;
}
#dropdown-container header .dropdown_title{
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
}
#dropdown-container header .anticon-close,
#dropdown-container header .anticon-left{
    font-size: 22px;
    position: absolute;
    color: #a6a6a6;
}
#dropdown-container header .anticon-left{
    display: none;
}
#dropdown-container .M_TaskItem .anticon-left,
#dropdown-container .Add_TaskItem .anticon-left{
    display: block;
}
#dropdown-container header .anticon-left{
    left: 0;
    top: 14px;
}
#dropdown-container header .anticon-close{
    right: 0;
    top: 14px;
}
#dropdown-container .modifyDetailList{
    padding-bottom: 10px;
    width: 100%;
}
#dropdown-container .modifyDetailList .modifyItem{
    width: 100%;
    padding: 12px 26px;
    color: gray;
    text-align: start;
    font-size: 14px;
    cursor: pointer;
}
#dropdown-container .modifyItem:hover{
    background-color: #f5f5f5   ;
}
#dropdown-container .modifyDetailList i{
    font-size: 16px;
    margin-right: 15px;
}
#dropdown-container .MOrAddListTaskItem{
    width: 252px;
    margin: 0;
    padding: 16px;
}
#dropdown-container .MOrAddListTaskItem .MTaskItemInput{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 8px 12px;
    border: 1px solid #e5e5e5;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    outline: 0;
    display: block;
}
#dropdown-container .MOrAddListTaskItem .saveModifyInputValueBtn,
#dropdown-container .MOrAddListTaskItem .createATaskItemBtn,
.MoveOrCopySubTaskWrap button,
.DeleteSubTaskOrDeleteTaskItemWrap button{
    display: block;
    width: 100%;
    height: 40px;
    min-width: 76px;
    padding: 12px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    vertical-align: top;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    outline: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease,border 0.3s ease,color 0.3s;
    background-color: #3da8f5;
    cursor: pointer;
}
#dropdown-container .MOrAddListTaskItem .createATaskItemBtn{
    margin-bottom: 16px;
    font-size: 14px;
    color: #383838;
}
#dropdown-container .createATaskItemBtn.add{
    cursor: not-allowed;
    background-color: #ccc;
}
.choiceDeadline{
    /* display: none; */
}
.choiceDeadline .ant-fullcalendar-header{
    padding: 10px 9px 11px 0;
} 
.ant-fullcalendar-calendar-body{
    padding: 4px 12px;
}
.choiceDeadline button{
    height: 40px;
    min-width: 90px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    vertical-align: top;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    outline: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease,border 0.3s ease,color 0.3s ease;
    user-select: none;
    color: gray;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-top: 8px;
}
.choiceDeadline .confirm{
    background-color: #3da8f5;
    color: #fff;
    border-color:#3da8f5;
    margin-left: 10px; 
}
.ant-alert-info {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.MoveOrCopySubTaskWrap{
    width: 252px;
    margin: 0;
    padding: 16px;
    color: #383838;
    /* display: none; */
}
.MoveOrCopySubTaskWrap li{
    padding-bottom: 33px;
    margin-bottom: 10px;
    height: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.MoveOrCopySubTaskWrap li span{
    float: right;
}
.MoveOrCopySubTaskWrap li .MoveOrCopySubTaskTitle{
    float: left;
    font-size: 14px;
    font-weight: bolder;
}
.MoveOrCopySubTaskWrap li span i{
    margin-left: 8px;
}
.MoveOrCopySubTaskWrap li span i,
.MoveOrCopySubTaskWrap li span em{
    font-size: 14px;
    color: gray;
}
.MoveOrCopySubTaskWrap li span em{
    font-style: normal;
}
#dropdown-container .DeleteSubTaskOrDeleteTaskItemWrap{
    width: 252px;
    box-sizing: border-box;
    margin: 0;
    padding: 16px;
    /* display: none; */
}
#dropdown-container .DeleteSubTaskOrDeleteTaskItemWrap div.tips{
    line-height: 20px;
    white-space: pre-wrap;
    text-align: start;
    margin-bottom: 16px;
}
#dropdown-container .DeleteSubTaskOrDeleteTaskItemWrap button{
    background-color: #ff4f3e;
}
#TasksWrap li.createWrap{
    background-color: #fff;
}
#TasksWrap .createTaskItem{
    height: 48px;
    background-color: #eee;
    border-radius: 3px;
    overflow: hidden;
}
#TasksWrap .createTaskItem a{
    color: #a6a6a6;
    display: flex;
    align-items: center;
    padding: 14px 18px;
}
#TasksWrap .createTaskItem a i{
    margin-right: 5px;
}
#TasksWrap .createWrap .creator-form-wrap{
    padding: 10px;
    background-color: #eee;
    border-radius: 3px;
    overflow: hidden;
    padding-top: 15px;
    display: none;
}
#TasksWrap .creator-form-wrap .stage-name{
    margin-bottom: 10px;
    border-color: rgba(56,56,56,.1);
    height: 40px;
    line-height: 26px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    width: 100%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 8px 12px;
    color: #383838;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#TasksWrap .creator-form-wrap .btns{
    height: 38px;
}
#TasksWrap .creator-form-wrap .btns a{
    float: right;
    padding: 8px 21px;
    background-color: transparent;
    box-shadow: none;
    color: gray;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    user-select: none;
}
#TasksWrap .creator-form-wrap .btns .submit{
    color: #fff;
    background-color: #3da8f5;
    border-color: #3da8f5;
    border-radius: 3px;
}
#TasksWrap .creator-form-wrap .btns .cancel:hover{
    color: #3da8f5;
}
#TasksWrap .creator-form-wrap .btns .submit:hover{
    opacity: .5;
}
#ct{
    height: 100%;
}
#ct .ant-tabs-content{
    height: 98%;
}
.CommonCanlender{
    padding-bottom: 10px;
    background:#fff;
}

.CommonCanlender .clear ,
.CommonCanlender .confirm{
    flex-grow: 1;
    height: 30px;
    padding: 0;
    width: 76px;
    font-size: 14px;
    line-height: 14px;
    user-select: none;
    border: 0;
    border-radius: 4px;
    outline: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease,border 0.3s ease,color 0.3s ease;
    vertical-align: top;
}
.CommonCanlender .confirm{
    background-color: #3da8f5;
    margin-left: 12px;

}
.CommonCanlender .clear{
    background-color: #fff;
    color: gray;
    border: 1px solid #ccc;
    margin-left: 25px;
}
/* 新建任务框里面的日历 */
.taskItem .CommonCanlender{
    position: absolute;
    top: 145px;
    left: 13px;
    z-index: 500;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
}
.taskItem .choiceDeadline  .CommonCanlender{
    display: block;

}
#TasksWrap .taskItem-head .anticon.anticon-down-circle-o{
    padding: 16px;
    margin: 0;
    cursor: pointer;
} 
.taskItem .CommonCanlender .ant-alert-no-icon{
    padding: 3px 15px;
    border-bottom: none;
}
.taskItem .CommonCanlender .ant-fullcalendar-header{
    padding-bottom: 5px;
    margin-top: -1px;
}
.taskItem .CommonCanlender .ant-fullcalendar-header .ant-radio-button-wrapper{
    margin-right: 2px;
}
.taskItem .CommonCanlender .ant-fullcalendar-header .ant-select-selection.ant-select-selection--single{
    margin-top: -1px;
}
.taskItem .CommonCanlender .ant-fullcalendar.ant-fullcalendar-full{
    margin-top: -1px;
    border-top: none;
}
.CommonCanlender .ant-fullcalendar table {
    height: 205px;
}
#taskUrgency{
    position: absolute;
    top: -130px;
    left: 0;
    border-radius: 4px;
    list-style: none;
    overflow: auto;
    margin: 0;
    max-height: 400px;
    min-width: 240px;
    background: #fff;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
}
#taskUrgency li{
    background: #fff;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 8px 5px;
    max-height: 400px;
    min-width: 200px;
}
#taskUrgency li:hover{
    background-color: #f8f7f7;
}
#taskUrgency li span{
    float: left;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: #fff;
    white-space: nowrap;
    margin-left: 8px;
}
#taskUrgency li span.urgencyBtn,.btn.urgency{
    border-color: #ffaf38;
    color: #ffaf38;
}
#taskUrgency li span.emtremeUrgencyBtn,.btn.emtremeUrgency{
    border-color: #ff4f3e;
    color: #ff4f3e;
}
#taskUrgency li i{
    float: right;
    font-size: 16px;
    margin: 5px 10px 0 0;
}
