#rcDialogTitle0{
    text-align: center;
}
.ant-modal-wrap  .ant-modal{
    width: 800px;
    height: 535px;
}
.ant-modal .ant-modal-content{
    height: 535px;
    width: 670px;
    position: relative;
}
.ant-modal .ant-modal-content .ant-modal-body{
    /* height: 430px; */
    height: 310px;
    padding: 24px 0 0 24px;
}
.ant-modal-content .ant-modal-body .title,
.ant-modal-content .ant-modal-body .projectInfo,
.ant-modal-content .ant-modal-body .projectOption{
    float: left;
}
.ant-modal-content .ant-modal-body .title{
    /* width: 180px;
    height: 100%;
    margin-right: 30px; */
    width: 100px;
    height: 100%;
    margin-right: 20px;
}
.ant-modal-content .ant-modal-body .title .active{
    color: #3da8f5;
}
.ant-modal-body .title li{
    padding-left: 10px;
    box-sizing: border-box;
    height: 55px;
    border-bottom: 1px solid #eeeeee;
    line-height: 55px;
    font-size: 14px;
    color: #808080;
    cursor: pointer;
}
.ant-modal-body .title span{
    display: inline-block;
    margin-left: 10px;
}
.ant-modal-content .ant-modal-body .projectInfo,
.ant-modal-content .ant-modal-body .projectOption{
    width: 500px;
    height: 100%;
}
.ant-modal-content .ant-modal-body .projectInfo{
    /* display: none; */
}
.ant-modal-content .ant-modal-body .projectOption{
    display: none;
}
.ant-modal-body .projectOption label,
.ant-modal-body .projectInfo label{
    height: 48px;
    line-height: 48px;
    display: block;
    font-size: 14px;
    color: #383838;
}
.ant-modal-body .projectInfo .projectNameinput{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    line-height: 24px;
    transition: border-color 218ms ease;
}
.ant-modal-body .projectInfo .projectProfiles{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    line-height: 24px;
    transition: border-color 218ms ease;
}

.ant-modal-body .projectOption div{
    margin-bottom: 20px;
    font-size: 14px;
    color: #a6a6a6;
}
.ant-modal-body .projectOption button{
    padding: 8px 15px;
    outline:none;
    background-color: #ff4f3e;
    border-color: #ff4f3e;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    color: #fff;
}
.moveFileToRecycleBin .ant-modal-content,
.GoBackwardMaskBox .ant-modal-content,
.deleteRecycleFileBox .ant-modal-content{
    width: 600px;
    height: 175px;
}
.moveFileToRecycleBin .ant-modal-content .ant-modal-body{
    height: 155px;
}
.goToModifyFileInfo .ant-modal  .ant-modal-footer div button:first-child{
    display:none;
}
.goToModifyFileInfo .ant-modal  .ant-modal-footer div button:last-child{
    width: 126px;
    height: 40px;
    padding: 0 48px;
    line-height: 40px;
    cursor: pointer;
}
.goToModifyFileInfo .ant-modal .ant-modal-content{
    height: 445px;
}
.goToModifyFileInfo .ant-modal  .ant-modal-footer div button:last-child{
    /* background-color: #d9d9d9;
    border-color: #d9d9d9; */
}
.goToModifyFileInfo .ant-modal  .ant-modal-footer div button:disabled{
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    cursor: not-allowed;
}
.goToModifyFileInfo .ant-modal-content .ant-modal-title{
    text-align: center;
    font-weight: bolder;
}
.moveFileToRecycleBin .ant-modal-body .ant-confirm-btns{
    width: 100%;
    margin-right: 15px;
}
.moveFileToRecycleBin .ant-modal-body .ant-confirm-btns .ant-btn-primary{
    background-color: red;
    border-color: red;
    display: block;
    width: 100%;
}
.moveFileToRecycleBin .ant-modal-body .ant-confirm .ant-confirm-btns {
    margin-right: 20px;
}
.ant-confirm-body-wrapper{
    padding: 15px;
    box-sizing: border-box;
}